.header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    background-color: white;
    width: 100%;
    z-index: 4;

}

.header-left {
    display: flex;
}

.header-left>img {
    object-fit: contain;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.header-search {
    padding: 10px;
    margin-top: 5px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 10px;
    color: gray;
    background-color: #eef3f8;
}

.header-search>input {
    outline: none;
    border: none;
    background: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-avatar {
    /* margin-bottom: -20px; */
}

.profile-button-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout-button {
    border-radius: 3px;
    border: 1px solid rgb(171, 171, 171);
    height: 30px;
    width: 100px;
    z-index: 4;
    background-color: whitesmoke;
}

.logout-button:hover {
    background-color: rgb(205, 205, 205);

}

.avatar-button-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 6.5%;
    margin-left: 6%;
}

@media only screen and (max-width: 812px) {
    .header-avatar {
        float: left;
    }
}