.app-body {
    display: flex;
}

.app {
    background-color: #f3f2ef;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

@media only screen and (max-width: 812px) {
    .app-body {
        background-color: #f3f2ef;
        
    }
  }