.post {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;    
    
}

.post-header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.post-info {
    margin-left: 10px;
}

.post-info>p {
    font-size: 12px;
    color: gray;
}

.post-body {
    overflow-wrap: anywhere;
}

.post-info>h2 {
    white-space: nowrap;
    font-size: 15px;
    
}

.post-buttons {
    display: flex;
    justify-content: space-evenly;
}

.post-button {
    display: flex;
    margin: 30px;
}

.post-button:hover {
    cursor: pointer;
}

.post-button>p {
    margin-left: 10px;
}

.feed-postFollow {
    display: flex;
    position: absolute;
    margin-left: 440px;
    padding: 5px;

    
}
.feed-postFollow:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.201);
    border-radius: 10px;
}
.h1 {
    font-size: 16px;
}
.post-avatar {
    width: 30px;
    height: 30px;
    border-radius: 40px;
}