.sidebar {
    
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    margin-top: 20px;
    
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
    min-width: 200px;
    max-width: 300px;
}

.sidebar-avatar {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.sidebar-top>h4 {
    color: gray;
    padding-bottom: 7px;
    font-size: 12px;
}

.sidebar-top>h2 {
    font-size: 18px;
}


.sidebar-topImage {
    margin-bottom: -20px;
    width: 100%;
    height: 56px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.sidebar-stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidebar-stat {
    margin-top: 10px;
    
    display: flex;
    justify-content: space-between;
}

.sidebar-stat>p {
    color: gray;
    font-size: 13px;
    font-weight: 600;
    
}

.sidebar-statNumber {
    font-weight: bold;
    color: #0a66c2 !important;
    margin-left: 20px;
}

.sidebar-bottom {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.sidebar-bottom>p {
    font-size: 13px;
    padding-bottom: 10px;
}

.sidebar-recentItem {
    display: flex;
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar-recentItem:hover {
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
}